:root {
    --blueH: rgba(51, 122, 183, 1);
    --darkerBlueH: rgba(20, 64, 135, 0.85);
    --theDarkestBlueH: rgba(20, 80, 122, 0.4);
    --grey: #E7E6E4;
}

body{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
